.font-normal {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.section-padding {
  padding-top: 2rem;
}

.notification::after {
  contain: '*';
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
}
