.route-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38.4px;
  color: #464255;
}

.xAxis .yAxis line {
  display: none;
  background: transparent;
  stroke: transparent;
}

.barCompleted {
  background: linear-gradient(90deg, #00b074 50%, rgba(0, 176, 116, 0) 100%);
  width: 60%;
}



.flexgrow{
  flex: 1;
}

.flexgrow2{
  flex: 4;
}

@media (min-width: 1400px) {
    .flexgrow{
  flex:auto
}

.flexgrow2{
  flex: auto;
}

}