

.section-padding {
  padding: 2rem;
}

.notification::after {
  contain: '*';
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
}
.route-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38.4px;
  color: #464255;
}

.xAxis .yAxis line {
  display: none;
  background: transparent;
  stroke: transparent;
}

.foode-details-defore::before {
  content: ' ';
  contain: ' ';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
}

.barCompleted {
  background: linear-gradient(90deg, #00b074 50%, rgba(0, 176, 116, 0) 100%);
  width: 60%;
}



