@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #464255;
  background: #E5E5E5;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
@layer base{

  .hoverAnimat {
    @apply scale-110;
    @apply duration-500;
  }
}